/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px){
	.book_icon{
	justify-content: center;
}
.book_content h2{
	font-size: 40px;
}
.book_content p{
	font-size: 18px;
}
.book_btn a{
	padding: 15px 30px;
}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 480px){
}



